
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

   body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: sans-serif;
    color: white;
  }

/* holds current weather */
  .container {
    width: 550px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    padding: 50px 5px;
    flex-direction: column;
    align-items: center;
  }

/* center the form */
form {
  text-align: center;
  padding-bottom: 25px;
  }

/* temperature + degree symbol */
.degrees {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Div around table */
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   /* width: 550px; */
  margin: 0 10%;
  padding-top: 50px;
  min-width: 700px;
}

/* Table formatting */
table {
  border-spacing: 5px;
}

table, th, td {
   padding: 10px;
   justify-content: center;
}

  /* Text formatting */
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  span {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem;
  }

/* icon size */
img {
  width: 125px;
  height: 125px;
}

#zip {
  padding: 5px;
}

/* Modal Window */

#weather-app {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
  display: none;
/*Set this to `none` so that the modal does not show initially on page load.*/
}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
  margin: 50px auto;
  color: gray;
	/*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	/*This will give the box some depth.*/
  padding: 5%;
  line-height: 220%;
}
#open-modal {
  text-align: right;
}
#modal-footer {
	text-align: right;
}

.modal-buttons {
	padding: 10px 18px;
	background-color: rgb(68, 109, 151);
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}
